@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Open+Sans:300i,400,400i,600,600i,700,700i');

/* -----------------------------------Colours */

/* -----------------------------------Header */

.coverpicture {
    background: url("../images/20180620_200702.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    margin-bottom: 10px;
}
/* -----------------------------------borrowed code https://www.w3schools.com/css/css_image_transparency.asp */
div.transbox {
  clear: both;
  padding-top: 25px;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid #567d56;
  opacity: 0.6;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
    color: #567d46;
    letter-spacing: 10px;
    padding-top: 25px;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
}
/* -----------------------------------End */


.nav-link {
    color: #ffffe4;
    float: right;
    padding-top: 25px;
}

.nav-link:hover {
    color: #cbae82;
}


/* -----------------------------------Footer */

footer {
    background-color: #567d46;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 10px;
}

.address {
    color: #ffffe4;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.social-links i {
    color: #ffffe4;
    font-size: 30px;
    padding-top: 30px;
}

.social-links i:hover {
    color: #cbae82;
}

.footerright {
    text-align: center;
}

/* -----------------------------------For Sale Page */


/* -----------------------------------Gallery Page */

.photo {
    clear: both;
    column-count: 2;
    column-gap: 0;
}

.photo img {
    width: 100%;
    border: 2px solid #fff;
}

.photo .photofix {
    transform: rotate(180deg);
    clear: inherit;
    column-gap: inherit;
}



/* -----------------------------------Contact Page */

.contactform {
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: center;
}

.btn-primary {
    color: #567d46;
    background-color: #ffffe4;
    border: #cbae82;
}

.btn-primary:hover {
    background-color: #ffe0b2;
}

/* -----------------------------------Media Queries */

@media screen and (min-width: 960px) {
    .address {
        text-align: left;
    }
    
    .footerright{
        text-align: right;
    }

    .photo {
        columns: 3;
    }
}

