@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Open+Sans:300i,400,400i,600,600i,700,700i');

/* -----------------------------------Colours */

/* -----------------------------------Header */

.coverpicture {
    background: url("../images/20180620_200702.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}


.title {
    float: left;
    color: #ffffe4;
    letter-spacing: 10px;
    padding-top: 25px;
}

.title:hover {
    color: #cbae82;
}


.nav-link {
    color: #ffffe4;
    float: right;
    padding-top: 25px;
}

.nav-link:hover {
    color: #cbae82;
}



/* -----------------------------------Footer */

footer {
    background-color: #567d46;
    padding-top: 25px;
    padding-bottom: 25px;
}

.address {
    color: #ffffe4;
}

.social-links i {
    color: #ffffe4;
    font-size: 30px;
    text-align: left;
}

.social-links i:hover {
    color: #cbae82;
}