@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Open+Sans:300i,400,400i,600,600i,700,700i');

/* -----------------------------------Colours */

/* -----------------------------------Header */

.coverpicture {
    background: url("../images/20170501_185732.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.title {
    align-content: right;
    color: #ffffe4;
    padding-top: 25px;
    font: Nanum, 400;
}

.nav-link {
    color: #ffffe4;
}


/* -----------------------------------Footer */

footer {
    background-color: #567d46;
    padding-top: 25px;
    padding-bottom: 25px;
}

.address {
    color: #ffffe4;
}

.social-links i {
    color: #ffffe4;
    font-size: 30px;
}

